<ion-view view-title="{{ title | translate }}" class="contactBackground">
  <ion-content>
    <div class="list card opaque">

      <div ng-show="contactInfo.details">
        <div class="item item-divider">
          <h2>{{ contactInfo.details.title }}</h2>
        </div>

        <div class="item">
          <div ng-show="contactInfo.details.address">
            <h2 translate="address_title"></h2>
            <p>{{ contactInfo.details.address }}</p>
          </div>
          <div ng-show="contactInfo.details.phone">
            <h2 translate="telephone_title"></h2>
            <p>{{ contactInfo.details.phone }}</p>
          </div>
          <div ng-show="contactInfo.details.webpage">
            <h2 translate="webpage_title"></h2>
            <p>{{ contactInfo.details.webpage }}</p>
          </div>
          <div ng-show="contactInfo.details.other">
            <h2 translate="other_title"></h2>
            <p>{{ contactInfo.details.other }}</p>
          </div>
        </div>
      </div>

      <div ng-show="contactInfo.social">
        <div class="item item-divider">
          <h2>{{ contactInfo.social.title }}</h2>
        </div>

        <div class="item">
          <a ng-show="contactInfo.social.twitter" ng-click="launchTwitter()" class="item item-icon-left">
            <i class="icon ion-at"></i>
            {{ contactInfo.social.twitter.title }}
          </a>
          <a ng-show="contactInfo.social.facebook" ng-click="launchFacebook()" class="item item-icon-left">
            <i class="icon ion-person"></i>
            {{ contactInfo.social.facebook.title }}
          </a>
          <a ng-show="contactInfo.social.linkedIn" ng-click="launchLinkedIn()" class="item item-icon-left">
            <i class="icon ion-wifi"></i>
            {{ contactInfo.social.linkedIn.title }}
          </a>
          <a ng-show="contactInfo.social.youtube" ng-click="launchYouTube()" class="item item-icon-left">
            <i class="icon ion-videocamera"></i>
            {{ contactInfo.social.youtube.title }}
          </a>
          <a ng-show="contactInfo.social.other" ng-click="launchOther()" class="item item-icon-left">
            <i class="icon ion-images"></i>
            {{ contactInfo.social.other.title }}
          </a>
        </div>
      </div>

      <div ng-show="contactInfo.organizers">
        <div class="item item-divider">
          <h2>{{ contactInfo.organizers.title }}</h2>
        </div>

        <div class="item" ng-repeat="item in contactInfo.organizers.items">
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>